body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
body {
    display: flex;
    justify-content: center;
}

div {
    color: blue;
}

main {
    height: 100%;
    width: 868px;
    display: grid;
    grid-template-columns: 1.1fr 4fr .5fr;
}

.left {
    background-color: rgb(231, 230, 230);
    border-right-color: rgb(131, 131, 131);
    display: grid;
    margin-right: 20px;
    grid-template-rows: 50px 40px 30px 50px 135px 180px 180px;
    text-align: center;
    margin-top: 10px;
}

.wrapper {
    width: 100%;
}

.middle {
    display: grid;
    grid-template-rows: 80px 1fr;
    box-sizing: border-box;
    margin-top: 10px;
}

.middle-header {
    display: grid;
    font-size: 1.5em;
    background-color: rgb(231, 230, 230);
    width: 660px;
    height: 45px;
}

.inner-middle {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    font-size: 1em;

}
